---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Esteban Abanto | Portafolio</title>
  </head>
  <body
    class="min-h-screen bg-gradient-to-br from-[#0f172a] via-[#111827] to-[#000000] text-white"
  >
    <slot />
  </body>
</html>
